<!DOCTYPE html>
<html>
<head>
  <title>Confirm Email</title>
</head>
<body>
  <h1>Confirm Email</h1>
  {% if error %}
    <p style="color:red">{{ error }}</p>
  {% endif %}
  <form action="/web/confirm" method="post">
    <label>Username:</label>
    <input type="text" name="username" required><br>
    <label>Confirmation Code:</label>
    <input type="text" name="code" required><br>
    <button type="submit">Confirm</button>
  </form>
  <p>Already have an account? <a href="/web/">Login</a></p>
  <p>Need to sign up? <a href="/web/signup">Sign Up</a></p>
</body>
</html>


