<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  {% if error %}
    <p style="color:red">{{ error }}</p>
  {% endif %}
  {% if message %}
    <p style="color:green">{{ message }}</p>
  {% endif %}
  <form action="/login" method="post">
    <label>Username:</label>
    <input type="text" name="username" required><br>
    <label>Password:</label>
    <input type="password" name="password" required><br>
    <button type="submit">Login</button>
  </form>

  <hr>

  <!-- Social Login -->
  <a href="https://n11715910-a2.auth.ap-southeast-2.amazoncognito.com/oauth2/authorize?response_type=code&client_id=1nc5drgnphkq8i4d2rusnfoa36&redirect_uri=http://n11715910-a2.cab432.com:8080/callback&identity_provider=Google">
    <button type="button">Sign in with Google</button>
  </a>

  <p>Don't have an account? <a href="/signup">Sign Up</a></p>
  <p>Need to confirm email? <a href="/confirm">Confirm Email</a></p>
</body>
</html>

